.logo-container{
    z-index: 0;
    width: 400px;
    height: auto;
    position: absolute;
    top: 10%;
    right: 15%;
    bottom: 0;
    left: auto;


    .solid-logo{
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 60vh;
        height: auto;
        z-index: 1;
        animation-name: bounceIn;
        animation-timing-function: ease-out;
        animation-duration: 7s;
        
        
        
    }
}