h1{
  font-family: 'Coolvetica';
  font-weight: 700;
  margin: 0;
  font-size: 150px;
  color: #fd7171;
}

h2{
  font-family: 'Coolvetica';
  font-weight: 300;
  margin: 0;
  font-size: 110px;
  color: #4d2323;
}

p{
  font-family: 'poppins';
  font-weight: 200;
  font-size: 20px;
  color: #7c7c7c;
}

.text-zone{
//   margin: 100px;
animation: fadeIn 2s ease-in ;
}



@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.home-img{ 

  
  width: 100vh;
  height: auto;
  animation: slide 2s ease-in-out ;

  /* margin: 104px 192px 0; */
  // margin-right: 80px;
 
}




.DownloadCV{
    border-radius: 50px;
    width: 150px;
    height: 70px;
    position: relative;
    // right: 155px;
    color: #fd7171;
    background-color: transparent;
    font-size: 16px;
    font-family: 'poppins';
    border-color: #fd7171;
    border-width: 3px;
    margin: 0;
    
}

.DownloadCV:hover{
  background-color: #fd7171;
  border: transparent;
  color: #ffffff;
}
