.home-page{
  .text-zone{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    max-height: 90%;
  }
  
  
  h1{
    color: #fd7171;
    font-size: 110px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 800;
    letter-spacing: 2px;
  }
}

h2{
  color: #414141;
  margin-top: 20px;
  font-weight: lighter;
  font-size: 20px;
  font-family: 'poppins';
  letter-spacing: 2px;
}



@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.home-img{ 

  
  width: 70vh;
  height: auto;
  animation: slide 2s ease-in-out ;

  /* margin: 104px 192px 0; */
  // margin-right: 80px;
 
}

.DownloadCV{
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: 'poppins';
    text-decoration: none;
    padding: 10px 18px;
    border:2px solid #fd7171;
    margin-top: 25px;
    float: left;
    // animation: fadeIn 1s 1.8s backwards;
    background: transparent;
       
}

.DownloadCV:hover{
  background-color: #fd7171;
  // border: transparent;
  color: #ffffff;
}
